body {
  max-width: 320px;
  margin: auto;
  background: #edc878;
  color: #2a4a92;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
}

footer {
  background: #2a4a92;
  color: #edc878;
}

.button {
  padding: 5px;
}

.petite-image {
  max-width: 20%;
}

.nav {
  justify-content: space-between;
}