body {
  max-width: 320px;
  margin: auto;
  background: #edc878;
  color: #2a4a92;
  font-family: 'Mukta', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .container {
  justify-content: space-between;
}

footer {
  background: #2a4a92;
  color: #edc878;
  border-bottom: #edc878 double 10px;
  border-top: #edc878 double 10px;
}
}

.button {
  padding: 5px;
}

.petite-image {
  max-width: 20%;
}

.grand-container {
  display: flex;
}

.image-moyen {
  max-width: 50%;
}

.realisateur,
.compositeur {
  background: black;
  color: #edc878;
  border-bottom: #edc878 double 10px;
  border-top: #edc878 double 10px;
}
